<tr>
  <td><%= feed_entry.title %></td>
  <td><%= feed_entry.feed_title %></td>
  <td><%= feed_entry.link_to_original %></td>
  <td><%= feed_entry.link_to_bitly %></td>
  <td><%= feed_entry.author %></td>
  <td><%= feed_entry.published_at %></td>
  <td><%= feed_entry.content %></td>
  <td id="publish-button-<%= feed_entry.id -%>">
    <%= feed_entry.publish_button %>
  </td>
</tr>
