%tr
  %td
    .original.inline= feed_entry.link_to_original
  %td
    .bitly.inline= feed_entry.link_to_bitly
  %td
    = image_tag feed_entry.image_url if feed_entry.image_url.present?
  %td
    .tag= feed_entry.feed_title
    .author= feed_entry.author
    .fed= feed_entry.published_at
    .title= feed_entry.title
    .body_edit{:id => "feed-entry-#{feed_entry.id}-body"}
      = render partial: 'feed_entries/body', locals: { feed_entry: feed_entry }

  %td{id: "publish-buttons-#{feed_entry.id}", class: 'publish'}
    = render 'feed_entries/buttons', feed_entry: feed_entry
