<h1>Listing feed_entries</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Original Url</th>
    <th>Bitly Url</th>
    <th>Author</th>
    <th>Published at</th>
    <th>Guid</th>
    <th>Feed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @feed_entries.each do |feed_entry| %>
  <tr>
    <td><%= sanitize feed_entry.title %></td>
    <td><%= feed_entry.link_to_original %></td>
    <td><%= feed_entry.link_to_bitly %></td>
    <td><%= sanitize feed_entry.author %></td>
    <td><%= feed_entry.published_at %></td>
    <td><%= feed_entry.guid %></td>
    <td><%= feed_entry.feed_id %></td>
    <td><%= link_to 'Show', [@feed, feed_entry] %></td>
    <td><%= link_to 'Edit', edit_feed_feed_entry_path(@feed, feed_entry) %></td>
    <td><%= link_to 'Destroy', [@feed, feed_entry], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
