<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= sanitize @feed_entry.title %>
</p>

<p>
  <b>Content:</b>
  <%= sanitize @feed_entry.content %>
</p>

<p>
  <b>Url:</b>
  <%= link_to 'URL', @feed_entry.url %>
</p>

<p>
  <b>Published at:</b>
  <%= @feed_entry.published_at %>
</p>

<p>
  <b>Guid:</b>
  <%= @feed_entry.guid %>
</p>

<p>
  <b>Feed:</b>
  <%= @feed_entry.feed_id %>
</p>

<%= link_to 'Back', feed_feed_entries_path(@feed) %>
