.right= paginate @feed_entries
%h2.inline= Feed
- if @feed_entries.any?
  = render partial: 'feed_entries/table', locals: { feed_entries: @feed_entries }
- else
  = link_to 'Create new feed', new_feed_path
= paginate @feed_entries
