!!!
%html
	%head
		%title footplate
		= stylesheet_link_tag		"application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		%ul.menu
			.container_12
				.grid_12
					= link_to 'footplate', root_path, :class => "logo"
					- if current_user
						- if current_user.admin?
							%li= link_to 'Feeds', feeds_path
							%li= link_to 'Users', users_path
						- else
							%li= link_to 'Setup', feeds_path
							%li
								%a{:href => "/feed"} Feed
							%li= link_to 'Scheduler', scheduler_path
					.right= render 'devise/menu/login_items'
					.right= render 'devise/menu/registration_items'
			.strip
		%div{:style => "clear:both"}
		%p.notice= notice
		%p.alert= alert
	.container_12
		.page
			= yield
