!!!
%html
	%head
		%title boooost - Automated Relay Formatting Funnel
		= stylesheet_link_tag		"application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		.container_12
			.grid_12
				.notice= notice
				.alert= alert
			.grid_2.menu
				%a.logo{:href => "/"}
					%img{:src => "/assets/boooost_logo.png"}
				%ul
					- if current_user
						- if current_user.admin?
							%li= link_to 'Feeds', feeds_path
							%li= link_to 'Users', users_path
						- else
							%li= link_to '1. Setup', feeds_path
							%li
								%a{:href => "/feed"} 2. Publish
							%li= link_to '3. Schedule', scheduler_path
					= render 'devise/menu/registration_items'
					= render 'devise/menu/login_items'
			.grid_10
				.page
					= yield

		.strip
		.container_12.footer
			.grid_12
				Boooost - Automated Relay Formatting Funnel
				%a.link{:href => "about"} About
				%a.link{:href => "about"} How it Works
				%a.link{:href => "about"} Terms & Privacy
				%br
				A
				%a{:href => "http://www.trueinteraction.com"} True Interaction
				Product
		%div{:style => "clear:both"}